.vsCenterring {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5vh;
}

.tryAgainBtn {
  font-size: 18px !important;
  font-weight: 600;
  color: #1d355d !important;
  border-color: #1d355d !important;
  border-width: 3px;
}
.tryAgainBtn:hover {
  color: white !important;
  background-color: #f8a827 !important;
  border-color: #f8a827 !important;
}

.textPoints {
  font-size: 30px !important;
  font-weight: 900;
  color: #81d5a4;
}

.cardTitle {
  color: #2f527b;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 36px !important;
}

.customCard {
  padding-block: 35px;
  padding-inline: 15px;
  border-radius: 24px !important;
}

.alternativeText {
  font-size: 18px;
}

.customCardHeader {
  background-color: white !important;
  border-bottom: none !important;
  padding-block: 0px !important;
}
.customTextCardHeader {
  font-size: 18px;
  font-weight: 700;
}

.customImg {
  height: 12vh;
  top: 18vh;
  left: 105vh;
  width: auto;
  /* position: fixed; */
}

.customWinnersImg {
  height: 25vh;
  top: 18vh;
  width: 55vh;
  display: block;
  margin: auto;
}

.customQuizTitle {
  color: white;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 36px !important;
  width: auto;
  /* position: fixed; */
  text-transform: uppercase;
}

.titleImgCard {
  bottom: -2vh;
  padding-inline: 2vh;
  z-index: 1;
  background-color: transparent !important;
  border-color: transparent !important;
}

@media (max-width: 400px) {
  .vsCenterring {
    margin-top: -2vh;
  }
  .titleImgCard {
    bottom: -6vh;
    padding-inline: 3vh;
  }
  .customCard {
    margin: 15px;
    padding-block: 16px;
  }
  .customImg {
    height: 15vh;
    top: 4vh;
    left: 29vh;
  }
  .cardTitle {
    font-size: 19px !important;
  }
  .customQuizTitle {
    height: 12vh;
    top: 4vh;
    left: 7vh;
    color: white;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 36px !important;
    width: auto;
  }
}

@media (max-width: 1200px) {
  .customWinnersImg {
    height: 25vh;
    top: 18vh;
    width: 50vh !important;
  }
  .customQuizTitle {
    height: 12vh;
    top: 4vh;
    left: 7vh;
    color: white;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 36px !important;
  }
  .titleImgCard {
    bottom: -1vh;
    padding-inline: 1vh;
  }
  .customCard {
    padding-block: 35px;
    padding-inline: 15px;
    border-radius: 24px !important;
  }
}

@media (max-width: 385px) {
  .customWinnersImg {
    height: 25vh;
    top: 18vh;
    width: auto !important;
    display: block;
    margin: auto;
  }
  .titleImgCard {
    bottom: -6vh;
    padding-inline: 4vh;
  }
}

@media (max-width: 393px) {
  .customWinnersImg {
    height: 25vh;
    top: 18vh;
    width: auto !important;
    display: block;
    margin: auto;
  }
  .titleImgCard {
    bottom: -5vh;
    padding-inline: 3vh;
  }
  .customImg {
    height: 12vh;
    top: 4vh;
    left: 29vh;
  }
}
